<div class="container mt-5 ">
    <h4 class="font-weight-bolder text-center mb-3">PEDIDOS SOLICITADOS</h4>
    <button class="btn btn-outline-info" type="button" data-toggle="collapse" data-target="#collapseExample"
        aria-expanded="false" aria-controls="collapseExample">
        DETALHES
    </button>
    <div class="row mt-3">
        <div class="col-12">
            <div class="row">
                <div class="col-6" *ngFor="let i of pedidos">
                    <div class="card shadow p-0 mb-3">
                        <h6 align="center">PEDIDO SOLICITADO #{{i.idPedido}} </h6>
                        <div class="card-body p-1">
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table">
                                        <thead>
                                            <tr class="text-center">
                                                <th class="border-0 text-uppercase small font-weight-bold">ID</th>
                                                <th class="border-0 text-uppercase small font-weight-bold">Valor</th>
                                                <th class="border-0 text-uppercase small font-weight-bold">Id Cliente
                                                </th>
                                                <th class="border-0 text-uppercase small font-weight-bold">Data</th>
                                                <th class="border-0 text-uppercase small font-weight-bold">Endereço</th>
                                            </tr>
                                        </thead>
                                        <tbody class="">
                                            <tr class="text-center">
                                                <td>{{i.idPedido}}</td>
                                                <td>{{i.valorTotal | currency: 'R$'}}</td>
                                                <td>{{i.idUsuario}}</td>
                                                <td>{{i.dataPedido | date: 'dd/MM/yyyy'}}</td>
                                                <td>{{i.enderecoPedido}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="collapse" id="collapseExample">
                                        <div class="card card-body py-0">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th class="border-0 text-uppercase small font-weight-bold">Id
                                                            Produto
                                                        </th>
                                                        <th class="border-0 text-uppercase small font-weight-bold">
                                                            Quantidade
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody *ngFor="let f of i.itensPedido">
                                                    <tr>
                                                        <td>{{f.nome}}</td>
                                                        <td>{{f.quantidade}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>