<div class="wrapper fadeInDown">
    <div id="formContent">

        <form class="py-5">
            <h4 class="font-weight-bolder text-center mb-3">SISTEMA MANDALA</h4>
            <input type="text" id="login" class="fadeIn second mt-4" name="login" placeholder="E-mail">
            <input type="text" id="password" class="fadeIn third" name="login" placeholder="Senha">
            <input type="submit" class="fadeIn fourth mt-4" value="logar-se">
        </form>

        <div id="formFooter">
            <a class="underlineHover" routerLink="/profileForgotPassword">Esqueceu a senha ?</a>
        </div>

    </div>
</div>