.card{
    width: 400px;
    height: 230px;
    background: #fff;
    margin: auto;
    align-items: center;
    display: flex;
}
input{
    width: 350px;
}
#bntForgot{
    background-color: white !important;
    color: black !important;
    font-weight: bold;
}
#bntForgot:hover{
    background-color: rgb(0, 0, 0) !important;
    color: rgb(255, 255, 255) !important;
    font-weight: bold;
}

@media screen and (max-width: 812px) {
    .card{
        margin-left: -0.3em;
        width: 22em;
    }

}