<div class="wrapper fadeInDown">
    <div id="formContent">

        <form class="py-5">
            <h4 class="font-weight-bolder text-center mb-3">ALTERAÇÃO DE SENHA</h4>
            <input type="text" id="login" class="fadeIn second mt-4" name="login" placeholder="E-mail">
            <input type="submit" class="fadeIn fourth mt-4" value="Enviar Nova Senha">
        </form>

        <div id="formFooter">
            <a class="underlineHover">Obrigado por fazer parte do time!</a>
        </div>

    </div>
</div>
