<div class="container mt-5">
	<div class="row">
		<div class="col-md-3">
		     <div class="list-group shadow">
              <p class="list-group-item list-group-item-action active mb-0">Dados Pessoais</p>
              <a routerLink="/profileUser/ProfilePersonalInformation"class="list-group-item list-group-item-action">Dados Pessoais</a>
              <a routerLink="/profileUser/profilePassword" class="list-group-item list-group-item-action">Alterar Senha</a>
            </div> 
		</div>
		<div class="col-md-9">
		    <div class="card">
                <router-outlet></router-outlet>
		    </div>
		</div>
	</div>
</div>