<main class="container">
    <div class="row">
        <div class="col-md-8 blog-main">
            <h1 class="pb-3 mb-4 mt-3 font-italic border-bottom">Tudo sobre nós</h1>
            <div class="blog-post">
                <p>Somos uma empresa especializada em redes de descanso a Rede Mandala.</p>
                <hr class="featurette-divider">
                <p class="justifies">Fundada em 1978 a Rede Mandala se tornou referência em São Paulo. 
                    Foi a primeira loja a confeccionar redes com materiais importados da India.
                    Desenvolvemos novos métodos de produção para melhorar a qualidade de nossos produtos.
                </p>
                <hr class="featurette-divider">
                <h2>Nossos produtos e nossa História</h2>
                <p class="justifies">A nossa loja reúne os mais diversos tipos de modelo de rede de dormir, com
                    preços bastante honestos para atender todo o nosso público. Todas as nossas redes são
                    confeccionadas artesanalmente, produzidas 100% de algodão.
                </p>
                <hr class="featurette-divider">
                <h2>Nossos Valores</h2>
                    <br>
                    <p class="justifies">Eficiência: Fazer sempre muito bem feito, com o melhor resultado.</p>
                    <br>
                    <p class="justifies">Inovação: Inovar hoje para ser melhor amanhã.</p>
                    <br>
                    <p class="justifies">Ética: Fazer o que é certo, de forma transparente e com honestidade, seja qual for a situação.</p>
            </div>
        </div>
        <aside class="col-md-4 blog-sidebar">
            <div class="p-3">
                <h4 id="tittleSocial" class="font-italic">Redes sociais</h4>
                <hr class="featurette-divider">
                <ol class="list-unstyled ">
                    <li id="link-social"><a  href="#" target="_blank" class="fb-ic" type="button" (click)="alertFace()" data-toggle="modal" data-target="#modalExemplo"><img class="mr-2 mt-3" src="../../assets/about-images/facebook.png"
                                width="30px" height="30px">Facebook</a></li>
                    <br>
                    <li id="link-social"><a href="https://www.instagram.com/corpredemandala/" target="_blank" class="ins-ic" ><img class="mr-2" src="../assets/about-images/instagram.png"
                                width="30px" height="30px">Instagram</a></li>
                </ol>
            </div>
            <div class="entry-crumbs">
                <img src="../../assets/about-images/rede1.jpg" alt="Fabrica De Redes" width="350" height="230"
                    class="d-flex mt-4 circulo">
                <img src="../../assets/about-images/rede2.jpg" alt="Fabrica De Redes" width="350" height="230"
                    class="mt-4 mb-4 circulo">
            </div>
        </aside>
    </div>
</main>