.justifies{
text-align: justify;
}

#link-social a {
    text-decoration: none;
    color: black;
}

#tittleSocial{
    margin-bottom: 1.5em;
}

@media screen and (max-width: 720px) {
    .entry-crumbs{
        display:  none;
        
    }

}
