<div class="container">
    <div class="col-md-12 mb-3 ">
        <h2 class="text-center mb-4 mt-2">Alterar Senha</h2>
    </div>
    <form [formGroup]="formPassword" (ngSubmit)="enviarForm()">
        <div class="form-group">
            <label for="email">Email: </label>
            <input id="email" formControlName="email" class="form-control" value="user@gmail.com" name="email"
                type="email" disabled>
        </div>
        <div class="form-group">
            <label for="senhaAtual">Senha atual: </label>
            <input id="senhaAtual" formControlName="senhaAtual" class="form-control" placeholder="Digite a sua senha"
                name="senhaAtual" type="password" autofocus>
        </div>
        <div class="form-group">
            <label for="novaSenha">Nova senha: </label>
            <input id="novaSenha" formControlName="novaSenha" class="form-control" placeholder="Digite a nova senha"
                name="novaSenha" type="password">
        </div>
        <div class="form-group">
            <label for="confirmarSenha">Confirmar senha: </label>
            <input id="confirmarSenha" formControlName="confirmarSenha" class="form-control"
                placeholder="Confirme a senha" name="confirmarSenha" type="password">
            <div *ngIf="!confirmarSenha.pristine && confirmarSenha.errors">
                <p class="alert alert-danger" *ngIf="confirmarSenha.errors.senhasDiferentes">
                    Senhas diferentes!
                </p>
            </div>
        </div>
        <div class="form-group">
            <button id="btnSave" type="submit" class="btn btn-outline-success" [disabled]="!formPassword.valid">Salvar</button>
            <button id="btnCancel" type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#ModalCancel">Cancelar</button>
            <div class="modal fade" id="ModalCancel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Mensagem para Você!</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <img src="../../../assets/icon/cancel.svg" width="30px">
                            Foi realizado o cancelamento da alteração.
                        </div>
                        <div class="modal-footer">
                            <button id="btnClase" type="button" class="btn btn-secondary"
                                data-dismiss="modal">Fechar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>